{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="topbar">
    <div class="logo">🟠 JakieMart Cart</div>

    <a href="/">Continue Shopping</a>
</div>

<div class="cart-container">

    {% for item in items %}
    <div class="cart-item">

        <img src="{{ item.product.image.url }}" class="cart-img">

        <div>
            <h3>{{ item.product.name }}</h3>
            <p>₵{{ item.product.price }}</p>

            <div class="qty">
                <button onclick="changeQty({{item.id}}, 'down')">-</button>
                <span id="qty-{{item.id}}">{{ item.quantity }}</span>
                <button onclick="changeQty({{item.id}}, 'up')">+</button>
            </div>

            <button onclick="removeItem({{item.id}})" class="remove">
                Remove
            </button>
        </div>

    </div>
    {% endfor %}

    <h2>Total: ₵{{ total }}</h2>

    <a href="/checkout/" class="checkout-btn">Checkout with Paystack</a>

</div>

<script>
function changeQty(id, action){
    fetch(`/cart/${action}/${id}/`)
    .then(res => res.json())
    .then(data => {
        location.reload();
    });
}

function removeItem(id){
    fetch(`/cart/remove/${id}/`)
    .then(res => res.json())
    .then(data => {
        location.reload();
    });
}
</script>

</body>
</html>