{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>JakieMart</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<!-- TOP BAR -->
<div class="topbar">
    <div class="logo">🟠 JakieMart</div>

    <input type="text" class="search" placeholder="Search products...">

    <div class="nav">
        <a href="/">Home</a>
        <a href="/cart/">Cart</a>
    </div>
</div>

<!-- HERO -->
<div class="hero">
    <h2>Welcome to JakieMart</h2>
</div>

<!-- PRODUCTS -->
<div class="products">
    {% for product in products %}
    <div class="product">
        <img src="{{ product.image.url }}" class="img">

        <h3>{{ product.name }}</h3>
        <p>₵{{ product.price }}</p>

        <a href="{% url 'add_to_cart' product.id %}" class="btn">
            Add to Cart
        </a>
    </div>
    {% endfor %}
</div>

</body>
</html>